body {

	background-image: url("../img/modulebg.jpg");
	background-size: cover;
	font-family: 'Raleway', sans-serif;

}

h1 {

	margin-top: 1em;
	font-size: 1.5em;
	font-weight: 700;

}

h2 {

	font-size: 0.9em;

}

.logocontainer {

	margin-top: 1%;
	text-align: center;

}

.logo {

	width: 13%;

}

.mobileheader {

	display: none;

}

.boxheader {

	margin: auto;
	display: table;
	margin-top: 1%;
	width: 40%;
	height: 15%;
	background-color: #cecece;
	opacity: 0.9;
	padding: 10px;
	border-radius: 15px 15px 0px 0px;
	position: relative;
	-webkit-animation-name: fadeInUp; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    animation-name: fadeInUp;
    animation-duration: 1.5s;

}

.box {

	margin: auto;
	display: table;
	width: 40%;
	height: 40%;
	background-color: #e5e5e5;
	opacity: 0.9;
	padding: 10px;
	border-radius: 0px 0px 15px 15px;
	position: relative;
	-webkit-animation-name: fadeIn; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
    animation-name: fadeIn;
    animation-duration: 4s;

}

.return {

	margin: auto;
	margin-top: 5%;
	display: table;
	width: 40%;
	opacity: 0.8;
	padding: 10px;
	color: white;
	position: relative;
	-webkit-animation-name: fadeIn; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
    animation-name: fadeIn;
    animation-duration: 4s;

}

form {

	margin-top: 4%;

}

input[type=text], input[type=password] {

    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #f2f2f2;

}

select{

	width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #f2f2f2;
    
}

.buttonwrapper {

	text-align: center;

}

.button {

	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 11px 11px;
	border: 1px solid #acacac;
	border-radius: 8px;
	background: #f5f5f5;
	font: normal normal bold 12px arial;
	color: #111111;
	text-decoration: none;
	cursor: pointer;

}

.button:hover {

	background-color: #dcdcdc;

}

#reason {

	height: 70px;

}

/* Desktops and laptops ----------- */
@media only screen  and (max-width : 1300px) {
	h1 {

		font-size: 1em;
	}

	h2 {

		font-size: 0.8em;
	}

	form {

		font-size: 0.8em;

	}

	.logo {

		width: 10%;

	}

	#reason {

		height: 40px;

	}

	.button {

		font-size: 12px;
		padding: 5px 5px 5px 5px;

	}
	
}

/* Phones ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	.logo {

		width: 35%;
		margin-bottom: 5%;

	}

	.mobileheader {

		display: inline;

	}

	.boxheader {

		display: none;

	}

	.box {

		width: 80%;
		border-radius: 15px 15px 15px 15px;

	}

}